body{
    margin: 0   ;
    
}


nav {
    background-color: rgb(234, 234, 234);
    padding: 8px 20px;
}

nav a {
    color: black;
    text-decoration: none;
    padding-left: 20px;
    font-weight: 700;
}

.centralizado{
    text-align: center;
}

.banner{
    display: flex;
}

.banner div{
    width: 25%;
    padding: 20px;
    border-style: double;
}

